@import 'utils.less';

//Structure
main {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    min-width: 800px;
    margin-top: 50px;
}

article {
    margin: 60px 10px;
}

#site-nav {
    padding: 10px;

    ul {
        .clear;

        li {
            float: left;
            font-size: 1em;

            a {
                color: @black;

                &:hover {
                    color: @mode;
                }
            }


            &.toggle-modes {
                float: right;

                &.user {
                    a {
                        .awesome-icon('\f007');
                    }
                }

                a {
                    .awesome-icon('\f085');
                }
            }
        }
    }
}

//Layout
body {
    font-family: Calibri, Arial, sans-serif;
    font-size: 1.6em;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
}

footer {
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 20px;
}

.public-team-list {
    section {
        padding: 15px;
        border: 1px solid @panel-border;
        border-radius: 30px;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
            color: @white;
            background: @black;
        }

        figure {
            display: inline-block;
            height: 100px;
            width: 100px;
            vertical-align: middle;

            img {
                border-radius: 15px;
            }
        }

        h3 {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
            font-size: 1.5em;
        }
    }
}

.public-team-details {
    header {
        margin-bottom: 60px;
        position: relative;
        .clear;

        a {
            position: absolute;
            top: 0;
            right: 0;
            .awesome-icon('\f112');
        }

        figure {
            height: 200px;
            width: 200px;
            float: left;
        }

        h1 {
            margin: 90px 30px 0;
            float: left;
        }
    }

    .roster {
        text-align: right;

        .headers {
            margin-bottom: 20px;
        }

        .stat {
            display: inline-block;
            margin: 0 2%;
            width: 8%;
            text-align: center;
        }

        .player {
            padding: 10px 0;
            background: @black;
            color: @white;
            border-radius: 13px;
            margin-bottom: 5px;
            .clear;

            figure {
                width: 50px;
                margin: 2px 0 0 10px;
                float: left;

                img {
                    border-radius: 10px;
                }
            }

            p {
                margin-top: 15px;
            }

            .name {
                float: left;
                margin-left: 8%;
                width: auto;
            }
        }
    }
}


.admin-grid {
    width: 100%;

    tr {
        height: 45px;
        cursor: pointer;

        &:nth-child(even) {
            background: @grid-even;
        }

        &.active {
            td:last-child {
                .awesome-icon('\f077');
            }

            img {
                cursor: pointer;
            }
        }
    }

    th {
        text-align: center;
        background: @black;
        color: @white;
        width: 33%;
        vertical-align: middle;
    }

    td {
        text-align: center;
        width: 33%;
        vertical-align: middle;

        &:first-child {
            text-align: left;
            padding-left: 5%;
        }

        &:last-child {
            position: relative;
            .awesome-icon('\f078');

            &:after {
                position: absolute;
                right: 10px;
                top: 8px;
            }
        }

        img {
            height: 35px;
            width: auto;
            border-radius: 5px;
            vertical-align: middle;
        }

        button {
            background: none;
            border: 0;
            font-size: 1.1em;
            cursor: pointer;

            &.edit {
                .awesome-icon('\f044');
                color: @edit;

                &:after {
                    position: relative;
                    top: 1.5px;
                }
            }

            &.delete {
                color: @delete;
                .awesome-icon('\f014');
            }

            &.cancel {
                color: @delete;
                .awesome-icon('\f05e');
            }

            &.save {
                color: @save;
                .awesome-icon('\f0c7');
            }
        }
    }
}


//Removes the highlight when clicking an element several times
.no-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

