@model CurseTeamBrowserUI.Models.TeamListModel
@{
    ViewBag.Title = "Admin";
    ViewBag.Admin = "AdminUser";
}

<h1>@ViewBag.Title</h1>

<article>
    <input type="file" id="file-upload" data-bind="value: file"/>
    <table class="admin-grid">
    <thead>
        <tr>
            <th>Team</th>
            <th>Avatar</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: teams">
        <tr data-bind="click: $root.toggleTeam, css: { active: active() && !editting() && !$root.adding()}" class="no-selection">
            <td colspan="3">
                <table>
                    <tr class="info">
                        <td>
                            <!-- ko if: !editting() -->
                            <span data-bind="text: name, attr: { title: name }"></span>
                            <!-- /ko -->
                            <!-- ko if: editting -->
                            <input type="text" maxlength="25" data-bind="value: editName" />
                            <!-- /ko -->
                        </td>
                        <td class="change-image" data-bind="css: { editting: editting() }">
                            <!-- ko if: getId() && (!editting() || (editting() && !$root.file())) -->
                            <img data-bind="click: $root.upload, preventBubble: 'click', attr: { src: avatar, alt: name() + ' Logo', title: (editting() ? 'Change Avatar' : '') }" />
                            <!-- /ko -->
                            <!-- ko if: !getId() || editting() && $root.file() -->
                            <span data-bind="click: $root.upload, preventBubble: 'click', text: $root.fileName, attr: { title: $root.fileName }"></span>
                            <!-- /ko -->
                        </td>
                        <td>
                             <!-- ko if: !editting() -->
                            <button class="edit" data-bind="click: $root.editTeam, preventBubble: 'click'" title="Edit"></button>
                            <button class="delete" data-bind="click: $root.deleteTeam, preventBubble: 'click'" title="Delete"></button>
                            <!-- /ko -->
                            <!-- ko if: editting -->
                            <button class="save" data-bind="click: $root.saveTeam, preventBubble: 'click'" title="Save"></button>
                            <button class="cancel" data-bind="click: $root.cancelTeam, preventBubble: 'click'" title="Cancel"></button>
                            <!-- /ko -->
                        </td>
                    </tr>
                </table>
                <!-- ko if: !editting() && active() && !$root.adding() -->
                <div data-bind="preventBubble: 'click'">
                    <table>
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Avatar</th>
                                <th>Games Played</th>
                                <th>Games Won</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: roster">
                            <tr>
                                <td>
                                    <!-- ko if: !editting() -->
                                     <span data-bind="text: name, attr: { title: name }"></span>
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="text" class="player" maxlength="25" data-bind="value: editName" />
                                    <!-- /ko -->
                                </td>
                                <td class="change-image" data-bind="css: { editting: editting() }">
                                    <!-- ko if: getId() && (!editting() || (editting() && !$root.file())) -->
                                    <img data-bind="click: $root.upload, attr: { src: avatar, alt: name() + ' Logo', title: (editting() ? 'Change Avatar' : '') }" />
                                    <!-- /ko -->
                                    <!-- ko if: !getId() || editting() && $root.file() -->
                                    <span data-bind="click: $root.upload, text: $root.fileName, attr: { title: $root.fileName }"></span>
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: !editting() -->
                                    <!-- ko text: gamesPlayed --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="number" min="0" data-bind="value: editGamesPlayed, valueUpdate: ['keypress', 'input']" />
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: !editting() -->
                                    <!-- ko text: gamesWon --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="number" min="0" data-bind="value: editGamesWon, valueUpdate: ['keypress', 'input'], attr: { max: editGamesPlayed() || 0 }" />
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: !editting() -->
                                    <!-- ko text: kills --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="number" min="0" data-bind="value: editKills, valueUpdate: ['keypress', 'input']" />
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: !editting() -->
                                    <!-- ko text: deaths --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="number" min="0" data-bind="value: editDeaths, valueUpdate: ['keypress', 'input']" />
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: !editting() -->
                                    <!-- ko text: assists --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editting() -->
                                    <input type="number" min="0" data-bind="value: editAssists, valueUpdate: ['keypress', 'input']" />
                                    <!-- /ko -->
                                </td>
                                <td>
                                     <!-- ko if: !editting() -->
                                    <button class="edit" data-bind="click: function(player){ $parent.editPlayer(player); $root.file(''); }" title="Edit"></button>
                                    <button class="delete" data-bind="click: function(player){ $parent.deletePlayer(player); $root.file(''); }" title="Delete"></button>
                                    <!-- /ko -->
                                    <!-- ko if: editting -->
                                    <button class="save" data-bind="click: function(player){ $parent.savePlayer(player); $root.file(''); }" title="Save"></button>
                                    <button class="cancel" data-bind="click:function(player){ $parent.cancelPlayer(player); $root.file(''); }" title="Cancel"></button>
                                    <!-- /ko -->
                                </td>
                            </tr>
                        </tbody>
                         <!-- ko if: !$parent.addingPlayer() -->
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <button class="add" data-bind="click: function (player) { addPlayer(player); $root.file(''); }" title="Add Player"></button>
                                </td>
                            </tr>
                        </tfoot>
                        <!-- /ko -->
                    </table>
                </div>
                <!-- /ko -->
            </td>
        </tr>
    </tbody>
    <!-- ko if: !$root.adding() -->
    <tfoot>
        <tr>
            <td colspan="3">
                <button class="add" data-bind="click: addTeam" title="Add Team"></button>
            </td>
        </tr>
    </tfoot>
    <!-- /ko -->
</table>
</article>

@section ViewModelScript{
<script type="text/javascript">
    require(['Scripts/app.js', 'Scripts/view-model/admin.js'], function (app, vm) {
        var viewModel = vm.create(app);
        app.ko.applyBindings(viewModel);
    });
</script>
}
