<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CurseTeamBrowser.Properties.Settings.vh_curse_teamsConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=vh_curse_teams;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>